<a href="https://colab.research.google.com/github/AdamMcCloskey381/machine-learning/blob/main/scaled_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
from sklearn.impute import SimpleImputer
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np

In [27]:
iris = load_iris()
df = pd.DataFrame(data = np.c_[iris["data"], iris["target"]],
                  columns = iris.feature_names + ["target"])
df_raw = df.copy()
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [28]:
Sc = StandardScaler()
for col in df.columns[:len(df.columns.tolist())-1].tolist():
  df[col] = (df[col] - df[col].mean())/df[col].std()

In [35]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sepal length (cm),150.0,-1.457168e-15,1.000000,-1.863780,-0.897674,-0.052331,0.672249,2.483699
sepal width (cm),150.0,-1.638319e-15,1.000000,-2.425820,-0.590395,-0.131539,0.556746,3.080455
petal length (cm),150.0,-1.292300e-15,1.000000,-1.562342,-1.222456,0.335354,0.760211,1.779869
petal width (cm),150.0,-5.543714e-16,1.000000,-1.442245,-1.179859,0.132067,0.788031,1.706379
target,150.0,1.000000e+00,0.819232,0.000000,0.000000,1.000000,2.000000,2.000000

In [36]:
df_raw.describe().T

                   count      mean       std  min  25%   50%  75%  max
sepal length (cm)  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal width (cm)   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal length (cm)  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal width (cm)   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5
target             150.0  1.000000  0.819232  0.0  0.0  1.00  2.0  2.0

In [29]:
from sklearn.tree import DecisionTreeClassifier

In [32]:
tree1 = DecisionTreeClassifier()
x = df.loc[:, df.columns != "target"]
y = df.loc[:, df.columns == "target"]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 123)
tree1.fit(x_train, y_train)
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, tree1.predict(x_test))
score

0.9210526315789473

In [34]:
tree2 = DecisionTreeClassifier()
x1 = df_raw.loc[:, df_raw.columns != "target"]
y1 = df_raw.loc[:, df_raw.columns == "target"]
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size = 0.25, random_state = 123)
tree2.fit(x1_train, y1_train)
score = accuracy_score(y1_test, tree2.predict(x1_test))
score

0.9473684210526315